/* Tablets Settings */
@media only screen and (min-width : 700px) and (max-width : 1024px){
    body{
        height:100vh;
        width:100vw;
    }
    #menu-items img{
        height:7.5rem;
        width:7.5rem;
    }
    #menu-items h3{
        font-size:1.125rem;
        line-height:1.75rem;
    }
    #menu-title-english, #menu-title-arabic{
        font-size:1.25rem;
        line-height:1.875rem;
    }
    #starter-titles h1{
        font-size:1.25rem;
        line-height:1.875rem;
    }
    .item h4{
        font-size:1.125rem;
        line-height:1.75rem;
    }
    .item button{
        font-size:1.125rem;
        line-height:1.75rem;
    }
    .col1 img{
        position:relative;
        height:9.375rem;
        width:9.375rem;
    }
    .col3 img{
        position:relative;
        left:0.937rem;
        height:9.375rem;
        width:9.375rem;
    }
    .social-contact{
        position:relative;
        right:0.625rem;
        font-size:0.875rem;
        line-height:1.5rem;
    }
    .phone-contact{
        position: relative;
        right:1.3rem;
        font-size:1rem;
        line-height:1.625rem;
    }
}

@media only screen and (min-width:605px) and (max-width:750px){
    body{
        max-width:100vw;
        max-height:100vh;
    }
    
    .right-items, .left-items{
        font-size:12px;
        line-height:22px;
        left:0;
    }
    
    #menu-items img{
        height:100px;
        width:100px;
    }
    #menu-items h3{
        font-size:12px;
        line-height:22px;
    }
    .social-contact{
        display:inline-block;
        left:10px;
        font-size:12px;
        line-height:22px;
    }
}
@media only screen  
and (max-width:640px){
	/* Header settings */
    body{
        max-height:100vh;
        max-width:100vw;
    }
    #header{
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
    }
    .left-items, .right-items{
       
        font-size:0.75rem;
        line-height: 1.375rem;
    }
    
    /* Section1 Settings */
    #section1{
        max-height:100vh;
        max-width: 100vw;
        
    }
    .main_image{
        height:260px;
        width:260px;
       
        
    }
    #menu{
        margin-top:0;
        margin-left:1.25rem;
        margin-right:1.25rem;
        padding-bottom:0;
        padding-top:0.125rem;
    }
    #menu-title-english, #menu-title-arabic{
        font-size:1rem;
        line-height:1.625rem;
    }
    /* Menu-items */
    #menu-items{
        flex-direction: column;
        flex-wrap:wrap-reverse;
        
    }
    #menu-items img{
        height:9.375rem;
        width: 9.375rem;
    }
    #menu-items h3{
        font-size:0.875rem;
        line-height: 0.875rem;
    }
    #section2{
        padding-top:2.5rem;
        padding-bottom:2.5rem;
        margin-top:68rem;
    }
    #starters-menu{
        margin:0;
        border-radius:0;
    }
    #starter-titles h1{
        font-size:1.125rem;
        line-height:1.75rem;
    }
    
    .item h4{
        font-size:1rem;
        line-height:1.625rem;
    }
    .item button{
        font-size:0.75rem;
        line-height:1.375rem;
        padding:0;
    }
    /*Footer Settings*/
    #footer-row{
        flex-direction:column;
    }
    .col1 img{
        position:relative;
        right:3.125rem;
        height:9.375rem;
        width:9.375rem;
    }
    .col3 img{
        position:relative;
        right: 3.125rem;
        height:9.375rem;
        width:9.375rem;
    }
    
    .social-contact{
        position:relative;
        left:2.5rem;
        font-size:0.875rem;
        line-height:1.5rem;
    }
    .phone-contact{
        position: relative;
        left:0.9rem;
        font-size:1rem;
        line-height:1.625rem;
    }
    #logoutButton{
        font-size:12px;
        padding:4px 8px 8px 4px;
    }

    .inner-box{
    
        height:400px;
        width:270px;
        margin-top:20px;
    }
    .accHeading{
        font-size:20px;
        line-height:30px;
    }
    .accParaDetail{
        font-size:12px;
        line-height:22px;
    }
    #username{
        padding:0;
        width:100%;
        text-align:center;
        padding-top:2px;
        padding-bottom:2px;
        font-size:10px;
        line-height:20px;
    }
    input[type="email"]{
        padding:0;
        width:100%;
        text-align:center;
        padding-top:2px;
        padding-bottom:2px;
        font-size:10px;
        line-height:20px;
    }
    input[type="password"]{
        padding:0;
        width:100%;
        text-align:center;
        padding-top:2px;
        padding-bottom:2px;
        font-size:10px;
        line-height:20px;
    }
   .accRegisterButton{
       font-size:12px;
       line-height:22px;
       padding-top:4px;
       padding-bottom:4px;
   }
   #alreadyButton{
       font-size:12px;
       line-height:22px;
   }

   .errorsClass{
       font-size:8px;
       line-height:2px;
       margin-left:0;
       margin-right:0;
       text-align: center;
   }
   .message{
       margin-left:0;
       margin-right:0;
       padding-top:4px;
       padding-bottom:4px;
       font-size:10px;
       line-height:10px;
   }
   .buttonCreateLogin{
        font-size:12px;
        line-height:22px;
   }
   .loginButton{
        font-size:12px;
        line-height:22px;
        padding-top:4px;
        padding-bottom:4px;
   }
   #addMore{
       float:none;
       font-size:12px;
       line-height:22px;
       margin-bottom:10px;
   }
   .shoppingHeading{
       padding:0;
       font-size:18px;
       line-height:28px;
   }
   .cartRow{
       margin:0;
       padding-top:20px;
       padding-bottom:20px;
       flex-direction:column;
       align-items: center;
       justify-content:center;
   }
   .cartImage{
       height:180px;
       width:180px;
   }
   .cartName,.cartArab{
       font-size:14px;
       margin-left:0;
   }
   .updateButton{
       padding:4px 8px 8px 4px;
       font-size:10px;
   }
   .cartRow ul li{
       font-size:14px;
   }
   .paraShoppingHeading{
       padding:0;
       font-size:12px;
   }
   .paymentHeading{
       font-size:18px;
       line-height:28px;

   }
   .paymentSummary p{
       font-size:14px;
       line-height:22px;
   }
   #checkoutButton{
       font-size:12px;
       line-height:24px;
   }
   .note label{
       font-size:15px;
   }
   #noteID{
       font-size:12px;
       line-height:22px;
   }
   .emptyCart{
       font-size:15px;
   }
   .emptyBackButton{
       left:0;
   }
}
