{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'dashboard.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


    
</head>
<body>
    <div class="deleteClass">
        <div class="deleteHeading">
            <h2>Change desired information below</h2>
        </div>
        <form action="updaterecord/{{my_update.customer_id}}" class="basic_form" method="POST">
            {% csrf_token %}
            <div class="first-row">
               
                <label>
                    First Name
                </label>
                <input id="form_fields" type="text" name="update_fname" value="{{ my_update.fname }}">
                <label>
                    Last Name
                </label>
                <input id="form_fields" type="text" name="update_lname" value="{{ my_update.lname }}">
                <label>
                    Gender
                </label>
                <input id="form_fields" type="text" name="update_gender" value="{{ my_update.gender }}">
            </div>
            <div class="fifth-row">
                {% csrf_token %}
                <button id="add_customer" type="submit">Update Customer</button>
            </div>
        <form>
    </div>
</body>
</html>