[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
markdown = "*"
psycopg2 = "*"
djangorestframework-jwt = "*"
djangorestframework-simplejwt = "*"
django-crispy-forms = "*"
httpie = "*"
django-widget-tweaks = "*"
django-bootstrap5 = "*"
django-datetime = "*"
datetime = "*"
django-filter = "*"
pillow = "*"
django-rest-auth = "*"
coreapi-cli = "*"

[dev-packages]

[requires]
python_version = "3.10"
